.display-section{
    display: flex;
    padding-left: 40px;
   
}
h1{
    font-size: 50px;
    
}
.half-width{
    width:50%;
    padding-bottom: 50px;
}
.half-width img{
    width: 70%;
}
.food-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    border-radius: 20px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.remove-text{
    text-align: center;
}
#back-image{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.box-image{
    box-shadow:10px 10px 40px gray;
    border-radius: 10px;
    padding: 20px 20px;
    margin-left: 2px;
    margin-right: 20px;
    width: 35%;
}
.box-image img{
    width: 60%;
}
.display-image{
    display: flex;
    padding-left: 20px;
}